.vs/
/BAL/obj
/BAL/bin
/BAL/BAL.csproj
/Common/bin
/Common/obj
/Common/Common.csproj
/Core/obj
/Core/bin
/Core/Core.csproj
/DAL/bin
/DAL/obj
/DAL/DAL.csproj
/Logging/bin
/Logging/obj
/Logging/Logging.csproj
/EncryptDecryptAPI/bin
/EncryptDecryptAPI/obj
/EncryptDecryptAPI/EncryptDecryptAPI.csproj
/EncryptDecryptAPI/obj
/LogFile